---
---

@import "minima";
/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 24px/1.5 -apple-system, BlinkMacSystemFont, "Futura PT Light", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 21px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote {
    border-left: 4px solid #00CC8F;
    color: #1a1a1a;
    font-family: Georgia, Times, "Futura PT Light", serif;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.8em;
    margin: 1.1em -4em;
    padding: 1em 2em;
    position: relative;
    z-index: 0;
  }
  blockquote:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1em;
    height: 2em;
    background-color: #fff;
    border-radius: 50%;
    width: 2em;
    margin-top: -1em;
  }
  blockquote:after {
    content: "ï͟";
    position: absolute;
    top: 50%;
    left: calc(-0.5em - 2px);
    color: #00CC8F;
    font-family: "Ionicons";
    font-size: 1.15em;
    font-style: normal;
    line-height: 1em;
    text-align: center;
    width: 1em;
    margin-top: -0.5em;
    transition: 0.5s all ease-in-out;
  }
  blockquote:active:after {
    transform: rotateY(360deg);
  }
  blockquote cite {
    display: block;
    font-size: 0.75em;
    line-height: 1.8em;
    margin-top: 1em;
  }